@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: 'Inter', sans-serif;
}

@font-face {
    font-family: 'BrandonBold';
    src: url('/fonts/allrounder-monument-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BrandonLight';
    src: url('fonts/Brandon-Grotesque-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonMedium';
    src: url('fonts/Brandon-Grotesque-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonRegular';
    src: url('fonts/Brandon-Grotesque-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Priestacy';
    src: url('/fonts/Priestacy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 30s linear infinite;
}

@media (min-width: 1024px) {
    .bg-custom-dj {
        background-position-y: 0px !important;
    }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
